---
interface Props {
  name: string;
  colorClass: string;
}

const { name, colorClass } = Astro.props;
---
<span class={`inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium border shadow-sm ${colorClass}`}>
  {name}
</span>
